body {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    background: #F0F1F5;
}
font[face="Helvetica"] {
	font-family: 'Source Sans Pro', sans-serif;
}
table {
	width: 100%;
}