body {
    max-width: 1170px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    background: #3d3d3d;
}
font[face="Helvetica"] {
	font-family: 'Source Sans Pro', sans-serif;
}
table {
	width: 100%;
}